nav{
    width: 950px;
    margin: 0 auto;
}
nav:before{
    
    content:'';
    display: block;
    height:50px;
    width:100%;
    background: linear-gradient(to top, gray, lightgray);
    position: absolute;
    left:0;
    z-index: -1;
}
ul{
    margin: 0;
    padding:0;
    list-style:none;
    height: 50px;
}
ul li{
    float:left;
}
ul li a{
    
    color: black;
    font-size: 20pt;
    display:block;
    height:50px;
    padding:0 30px;
    text-decoration:none;
    line-height:50px;
}
 ul li a:hover{
     background:#FF4900;
 }
.sidebar-wrapper, .Main, footer{
    box-sizing: border-box;
    padding: 10px;
}
.sidebar-wrapper, .Main{
    min-height: 90%;
}
.Main{
    color: black;
    width: 1000px;
    margin-right: 15px;
    background: linear-gradient(to top, #fefcea, lightgray);
    font-size: 18pt;
}
footer{
    height: 100px;
    background: linear-gradient(to top, gray, lightgray);
    margin-top: 10px;
}
.sidebar-wrapper{
    position: relative;
    display: inline-block;
}
.text{
    position:absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}
.text:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align:middle;
}
h4{
    display:inline-block;
    font-size: 50px;
}
.img{
    display:block;
    opacity: 0.3;
    width: 300px;
    height: 300px;
    
}
.Call{
    display:block;
    float:top;
    width:600px;
    color:black;
    background: linear-gradient(to top, gray, lightgray);
    font-size: 13pt;
    width:76%;
}
.sidebar {
    margin-top: 5px;
	text-align: center;
	font-size: 10px;
    color: black;
    background: linear-gradient(to top, gray, lightgray);
 	width: 200px; /* Ширина колонки */
 	float: right; /* Обтекание справа */
}
.Best {
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 5px;
    float: left;
    text-decoration: none;
    color:black;
}
.Button
{
display: block;
                           
    height: 100px; 
                    width: 200px; 
                    background: lightslategray;
                    color: #111010;
                    text-align: center;
                    font-weight:bold;
                    font-size: 150%; 
                    line-height: 20px; 
                    font-family: Arial; 
                    border-radius: 20px; 
                    text-decoration: none;
                    float: right;          
}
.Button:hover
{
    background: #FF4900;
}